/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

body {
  margin: 0 auto;
  block-size: 100%;
  min-inline-size: 375px;
  max-inline-size: 1024px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture,
source {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

button:focus,
a:focus {
  outline: none;
}

button:focus-visible {
  border-block-end: 1px solid var(--decor-color);
}

a:focus-visible {
  outline: 1px solid var(--decor-color);
}

@media (hover: hover) {
  button:hover {
    outline: 1px solid #ff007040;
  }

  a:hover {
    border-block-end: 1px solid #f1b2ce;
  }

  .theme_light button:hover {
    outline: 1px solid #32312d40;
  }

  .theme_light a:hover {
    border-block-end: 1px solid #353430;
  }

  .theme_dark button:hover {
    outline: 1px solid #ff007040;
  }

  .theme_dark a:hover {
    border-block-end: 1px solid #f1b2ce;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--corner-color);
  border-block-start: 1px solid var(--corner-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: var(--content-padding);
  inset-inline-end: var(--content-padding);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--corner-color);
  border-block-end: 1px solid var(--corner-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: var(--content-padding);
  inset-inline-start: var(--content-padding);
}

.title-decor {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--title-bg);
}

.text-styles {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}
